# This file describes the network interfaces available on your system
# For more information, see netplan(5).

network:
  version: 2
  renderer: networkd
  ethernets:
    ens160:
      addresses: [ '{{ ansible_default_ipv4.address }}'/24 ]
      gateway4: 128.82.6.132
      nameservers:
          addresses:
              - "172.18.8.19"
              - "172.18.8.20"
